.createProductContainer {
    position: relative;
    display: flex;
    top: 150px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;

    .titleProd {
    }
    .createForm {
        margin: 0 2rem;
    }
    .titleReview {
        margin-top: 2em;
    }
    .success {
        position: relative;
        top: 40px;
        font-size: 40px;
        color: rgb(6, 230, 6);
    }

    h1 {
        text-transform: uppercase;
        color: #7d7676;
    }

    form {
        display: flex;

        .asin {
            display: flex;
            flex-direction: column;
            color: #7d7676;
            padding: 1.5em 1.5em;
            margin: 0 2em;
            border: 1px solid #7d7676;
            box-shadow: 2px 2px 5px black;
        }

        .pname {
            display: flex;
            flex-direction: column;
            color: #7d7676;
            padding: 1.5em 1.5em;
            margin: 0 2em;
            border: 1px solid #7d7676;
            box-shadow: 2px 2px 5px black;
        }
    }
    .createButton {
        margin-top: 30px;
        padding: 0.5em 2.5em;
        background-color: #619ea0;
        color: white;
        border: none;
        border-radius: 20px;
    }
}

.createReviewContainer {
    position: relative;
    display: flex;
    top: 150px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;

    h1 {
        text-transform: uppercase;
        color: #7d7676;
    }

    form {
        display: flex;
        gap: 40px;
    }

    .productID {
        display: flex;
        flex-direction: column;
        color: #7d7676;
        padding: 1.5em 1.5em;
        margin: 0 2em;
        border: 1px solid #7d7676;
        box-shadow: 2px 2px 5px black;
    }

    .rating {
        display: flex;
        flex-direction: column;
        color: #7d7676;
        padding: 1.5em 4.5em;
        margin: 0 2em;
        border: 1px solid #7d7676;
        box-shadow: 2px 2px 5px black;
    }

    .review {
        display: flex;
        flex-direction: column;
        color: #7d7676;
        padding: 1.5em 1.5em;
        margin: 0 2em;
        border: 1px solid #7d7676;
        box-shadow: 2px 2px 5px black;
    }

    .createButton {
        margin-top: 30px;
        padding: 0.5em 2.5em;
        background-color: #619ea0;
        color: white;
        border: none;
        border-radius: 20px;
    }
}

.updateDeleteProductContainer {
    position: relative;
    display: flex;
    top: 150px;
    justify-content: space-around;

    .updateProductContainer {
        text-align: center;
        h1 {
            text-transform: uppercase;
            color: #7d7676;
        }
        form {
            display: flex;
            flex-direction: column;
            color: #7d7676;
            padding: 1.5em 1.5em;
            margin: 0 2em;
            border: 1px solid #7d7676;
            box-shadow: 2px 2px 5px black;
        }
        .createButton {
            margin-top: 30px;
            padding: 0.5em 2.5em;
            background-color: #619ea0;
            color: white;
            border: none;
            border-radius: 20px;
        }
    }

    .deleteProductContainer {
        text-align: center;

        h1 {
            text-transform: uppercase;
            color: #7d7676;
        }
        form {
            display: flex;
            flex-direction: column;
            color: #7d7676;
            padding: 1.5em 1.5em;
            margin: 0 2em;
            border: 1px solid #7d7676;
            box-shadow: 2px 2px 5px black;
        }
        .createButton {
            margin-top: 30px;
            padding: 0.5em 2.5em;
            background-color: #619ea0;
            color: white;
            border: none;
            border-radius: 20px;
        }
    }
}

.updateDeleteReviewContainer {
    text-align: center;
    position: relative;
    display: flex;
    top: 150px;
    justify-content: space-around;
    margin-bottom: 300px;

    h1 {
        text-transform: uppercase;
        color: #7d7676;
    }

    .updateReviewContainer {
        form {
            display: flex;
            flex-direction: column;
            color: #7d7676;
            padding: 1.5em 1.5em;
            margin: 0 2em;
            border: 1px solid #7d7676;
            box-shadow: 2px 2px 5px black;
        }
        .createButton {
            margin-top: 30px;
            padding: 0.5em 2.5em;
            background-color: #619ea0;
            color: white;
            border: none;
            border-radius: 20px;
        }
    }

    .deleteReviewContainer {
        form {
            display: flex;
            flex-direction: column;
            color: #7d7676;
            padding: 1.5em 1.5em;
            margin: 0 2em;
            border: 1px solid #7d7676;
            box-shadow: 2px 2px 5px black;
        }
        .createButton {
            margin-top: 30px;
            padding: 0.5em 2.5em;
            background-color: #619ea0;
            color: white;
            border: none;
            border-radius: 20px;
        }
    }
}
