.navUser {
  z-index: 10;
  position: absolute;
  color: #006266;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: larger;
}

.homeNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 5;
  background-color: white;
  color: black;
}

.homeNav .logo {
  height: 7rem;
  width: 7rem;
  cursor: pointer;
}

.homeNav .homeHamburger {
  background-color: transparent;
  margin-right: 0.8em;
  border: none;
}

.homeNav .homeHamburger:hover {
  cursor: pointer;
}

.homeNav .homeHamburger span {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #006266;
  margin-bottom: 1.5px;
}

.homeNav .home-nav-elements {
  background-color: white;
}

.homeNav .home-nav-elements #logButton {
  background-color: #fac372;
  padding: 1rem 2rem;
  border-radius: 50px;
  margin-right: 70px;
}

.homeNav .home-nav-elements #logButton span {
  position: absolute;
  background-color: #006266;
  height: 2px;
  width: 100%;
  top: 32px;
  visibility: hidden;
}

.homeNav .home-nav-elements #logButton:hover {
  background-color: #fda829;
}

.homeNav .home-nav-elements a {
  text-decoration: none;
  margin: 0 1em;
  color: #006266;
  margin-top: 2px;
  position: relative;
  font-size: 25px;
  background-color: white;
  border: none;
}

.homeNav .home-nav-elements a span {
  position: absolute;
  background-color: #006266;
  height: 2px;
  width: 100%;
  top: 32px;
  visibility: hidden;
}

.homeNav .home-nav-elements a svg {
  position: absolute;
  left: -25px;
  top: 5px;
  background-color: white;
}

.homeNav .home-nav-elements a:hover span {
  visibility: visible;
}

@media screen and (max-width: 1300px) {
  .home-nav-elements {
    display: none;
    background-color: #191d33;
    color: black;
  }
  .home-nav-elements button {
    background-color: white;
    color: black;
  }
  .home-nav-elements.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 80px;
    width: 100%;
    text-align: center;
    margin: 0;
    color: #006266;
    background-color: white !important;
  }
  .home-nav-elements.active #logButton {
    border-radius: 0;
    margin-right: 0px !important;
  }
  .home-nav-elements.active a {
    transition: background-color 1s ease, color 1s ease;
    -webkit-transition: background-color 1s ease, color 1s ease;
    color: #006266;
    background-color: white !important;
    margin: 0;
    padding: 0.4em 0;
  }
  .home-nav-elements.active a span {
    display: block;
    top: 50px;
  }
  .home-nav-elements.active a:hover {
    cursor: pointer;
    background-color: #019aa0 !important;
  }
  .homeNav.active {
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    background-color: #191d33;
  }
  .homeNav.active .homeHamburger span {
    background-color: #191d33;
  }
  .homeNav.active .logo {
    -webkit-filter: invert(1);
            filter: invert(1);
  }
}

@media all and (min-width: 1300px) {
  .homeHamburger {
    display: none;
  }
}
/*# sourceMappingURL=homeNav.css.map */