.Reviews {
    position: relative;
    top: 120px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    .review {
        border: 1px solid black;
        .title {
        }
        .reviewText {
        }
        .rating {
        }
    }
}
