.App {
    text-align: center;
    position: relative;
    width: 700px;
    transform: translate(0, 100%);
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;

    .database {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        input {
            width: 30%;
            margin: 1em 0 2em 0;
        }
    }
}
